body {
  font-size: medium;
}
p {
  display: inline-block;
  margin-left: 5px;
}

a {
  margin-left: 10px;
  display: inline-block;
}

img {
  height: 25px;
  width: 25px;
}
ul {
  list-style-type: none;
}
